{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Autem aperiam quos modi non!</li>
<li>Mollitia sed saepe alias voluptatibus!</li>
<li>Dolore dolorem ratione qui culpa!</li>
<li>Impedit veritatis cum laudantium quidem.</li>
<li>Rerum, voluptas? Praesentium, doloremque velit.</li>
<li>Aliquid vero perspiciatis magni itaque.</li>
<li>Ad numquam provident eius distinctio.</li>
<li>Obcaecati reiciendis reprehenderit est quam?</li>
<li>Voluptatum mollitia odio saepe deserunt.</li>
<li>Quae voluptates in harum dolorem?</li>
<li>Quo eius odio quibusdam rem.</li>
<li>Minus laudantium nobis consectetur dicta!</li>
<li>Consequuntur culpa illo quasi beatae?</li>
<li>Nulla placeat fuga veniam officiis!</li>
<li>Ab dicta culpa non quos?</li>
<li>Consectetur aliquam eaque explicabo blanditiis!</li>
<li>Porro consequuntur cum praesentium doloribus!</li>
<li>Totam sunt adipisci voluptatem facilis.</li>
<li>Totam perferendis provident harum illo.</li>
<li>Ipsam nostrum laudantium quo maxime?</li>
<li>Nesciunt voluptatum totam labore quasi?</li>
<li>Accusamus beatae laborum porro consequatur.</li>
<li>Illum iusto quisquam quod inventore.</li>
<li>Laborum assumenda alias eius dicta.</li>
<li>Nulla doloremque minima accusamus minus.</li>
<li>Aspernatur at sint cum iusto?</li>
<li>Quam, blanditiis facilis! Quidem, aspernatur.</li>
<li>Facilis eum voluptatem blanditiis natus.</li>
<li>Labore minima nostrum neque vel!</li>
<li>Earum facilis assumenda dignissimos fugit?</li>
<li>Vero, molestiae. Debitis, nisi voluptatem!</li>
<li>Voluptate possimus sequi id debitis.</li>
<li>Excepturi, voluptatum. Quam, tenetur ad?</li>
<li>Temporibus quos possimus earum eligendi?</li>
<li>At dolor velit quas itaque?</li>
<li>Optio aliquid vitae animi quas.</li>
<li>Modi incidunt earum quae eius!</li>
<li>Neque est quas hic inventore.</li>
<li>Hic deleniti dolore nisi sed.</li>
<li>Dicta autem rem voluptatum enim!</li>
<li>Porro, sed numquam. Rem, sed.</li>
<li>Cum ratione ex pariatur perferendis.</li>
<li>Eius necessitatibus suscipit dolorem qui?</li>
<li>Officiis, numquam! Laudantium, atque necessitatibus.</li>
<li>Unde vel excepturi cumque animi?</li>
<li>Quisquam eos mollitia est alias.</li>
<li>Fuga fugit suscipit velit aut?</li>
<li>Natus provident saepe quasi recusandae.</li>
<li>Fugiat tempora praesentium eum tempore.</li>
<li>In dolorum ea cumque ducimus?</li>
<li>Sunt quis excepturi deleniti totam.</li>
<li>Dignissimos fuga quas in velit?</li>
<li>Expedita quisquam quaerat quis! Tenetur!</li>
<li>Cum beatae corrupti pariatur ex?</li>
<li>Quibusdam tempore eius ab alias?</li>
<li>Minus vitae eum sed possimus.</li>
<li>Molestiae, ipsa? Facilis, eveniet aperiam!</li>
<li>Ut assumenda ipsum quae cum.</li>
<li>Voluptas eveniet sit expedita quas.</li>
<li>Voluptatem quo commodi quos quisquam!</li>
<li>Autem temporibus numquam esse. Repudiandae.</li>
<li>Maxime, minima facere. Dolor, commodi.</li>
<li>Iure blanditiis expedita et fuga.</li>
<li>Cumque quisquam nesciunt dolorem magni?</li>
<li>Quos doloribus iste sit ducimus.</li>
<li>Sint in dolorem iure repudiandae?</li>
<li>Autem quod optio explicabo dicta?</li>
<li>Obcaecati doloribus laboriosam officia harum!</li>
<li>Molestiae libero illo amet architecto.</li>
{% endblock %}
